<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <services>
        <service name="WebServiceLibrary.WcfSvc" behaviorConfiguration="svcBehave">
          <endpoint address="http://localhost:9000/WcfSvc"
                    binding="wsHttpBinding"
                    contract="WebServiceLibrary.IWcfSvc">
          </endpoint>
          <endpoint address="net.tcp://localhost:9001/WcfSvc"
                    binding="netTcpBinding"
                    contract="WebServiceLibrary.IWcfSvc"
                    name="tcp">
          </endpoint>
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="svcBehave">
            <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9000/WcfSvc"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>